/* Global css variables here */

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-color: #333333;
  --color-primary: #72edf2;
  --color-secondary: #6b73ff;
  --color-third: #ffffff;
  --color-fourt: #b0b0b0;
}
